@font-face {
  font-family: "Consolas Web";
  src: url(/assets/consolas/consolas.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Consolas Web";
  src: url(/assets/consolas/consolas-bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Iowan Old Style Web";
  src: url(/assets/iowan-old-style/iowan-old-style-roman.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Iowan Old Style Web";
  src: url(/assets/iowan-old-style/iowan-old-style-bold.ttf);
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
}
body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
}
.clearfix {
  clear: both;
}
.desktop-hide {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.pdf-show {
  display: none;
}
.pending {
  margin-top: 20px;
}
.pending i {
  display: block;
  width: 32px;
  height: 32px;
  background: url("/assets/pending-dots@2x.gif") center no-repeat;
  background-size: 32px 32px;
}
.dark-theme .pending i {
  background-image: url("/assets/pending-dots-dark@2x.gif");
}
.pending span {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}
.dark-theme .pending span {
  color: rgba(255, 255, 255, 0.64);
}
#resume {
  width: 768px;
}
#resume #main .list ul li:not(:first-child) {
  margin-top: 28px;
}
#resume #main .list ul li h3 {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0;
}
.spacing-large #resume #main .list ul li h3 {
  margin-bottom: 4px;
}
#resume #main .list ul li h3.title {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.88);
}
#resume #main .list ul li h3.subtitle {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.88);
}
#resume #main .list ul li h3.time,
#resume #main .list ul li h3.location {
  color: rgba(0, 0, 0, 0.64);
}
#resume #main .list ul li h3.time .period {
  color: rgba(0, 0, 0, 0.4);
}
#resume #main .list ul li .left,
#resume #main .list ul li .right {
  width: 50%;
}
#resume #main .list ul li .left {
  padding-right: 48px;
}
#resume #main .list ul li .right {
  padding-left: 48px;
}
#resume #main .list ul li .description {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}
#resume #main .list ul li .description p {
  margin-bottom: 12px;
}
#resume #main .list ul li .description p:last-of-type {
  margin-bottom: 0;
}
#resume #main #skills.list ul li,
#resume #main #contact.list ul li {
  font-size: 14px;
  line-height: 20px;
}
#resume #main #skills.list ul li:not(:first-child),
#resume #main #contact.list ul li:not(:first-child) {
  margin-top: 12px;
}
body.font-consolas #resume,
body.cue-theme.font-consolas #side {
  font-family: "Consolas Web", Courier, monospace;
}
body.font-iowan-old-style #resume,
body.cue-theme.font-iowan-old-style #side {
  font-family: "Iowan Old Style Web", Georgia, serif;
}
@media all and (max-width: 640px) {
  #footer .createdbyrepresent,
  #footer .sosueme {
    display: block;
    float: none !important;
    width: 100% !important;
    text-align: left !important;
  }
  #footer .sosueme .created {
    margin: 16px 0 0 !important;
  }
}
#footer {
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  width: 100%;
  padding: 44px 0;
}
#footer .footer-logo {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-top: 0;
}
#footer .footer-logo-icon {
  width: 17px;
  height: 17px;
  fill: #7a8599;
  display: inline-block;
}
#footer .created {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  margin-left: 4px;
  color: rgba(0, 0, 0, 0.48);
  font-weight: 400;
}
#footer .created a {
  color: inherit !important;
}
#footer .createdbyrepresent {
  width: 50%;
  float: left;
  font-weight: 400;
  height: 16px;
}
#footer .sosueme {
  float: right;
  width: 50%;
  text-align: right;
}
#footer .copyright {
  color: rgba(0, 0, 0, 0.32);
}
@media print {
  body {
    font-family: "Proxima Nova", "proxima-nova" !important;
  }
  body.font-consolas #resume {
    font-family: "Consolas" !important;
  }
  body.font-iowan-old-style #resume {
    font-family: "Iowan Old Style" !important;
  }
  #contact a {
    color: rgba(0, 0, 0, 0.88) !important;
  }
  #resume #main .list ul li h3.time .period {
    display: none;
  }
  .rocket-theme #top #about,
  .rocket-theme #resume #main .list ul li .description {
    color: rgba(0, 0, 0, 0.48) !important;
  }
  body {
    width: 1024px;
  }
  .pdf-hide {
    display: none;
  }
  .pdf-show {
    display: block;
  }
  #sharing_menu,
  #footer {
    display: none;
  }
  #skills,
  #contact {
    page-break-inside: avoid;
  }
}
