body {
  font-family: "proxima-nova", sans-serif;
  background: #fff;
}
#side {
  width: 30%;
  height: 100%;
  float: left;
  text-align: left;
  position: fixed;
  left: 0;
}
#side .inside {
  padding: 0 56px;
}
.bg-photo {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.overlay {
  background: #3d79f2;
  opacity: 0.88;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}
#top {
  padding: 56px 0;
  text-align: left;
  position: relative;
  z-index: 40;
}
#profile-pic {
  width: 96px;
  height: 96px;
  margin-bottom: 22px;
}
#profile-pic img {
  width: 96px;
  height: 96px;
  border-radius: 6px;
}
h1#name {
  color: #fff;
  line-height: 24px;
}
h1#name.no-photo {
  margin-top: -2px;
}
#resume {
  width: 70% !important;
  float: right;
  height: 100%;
}
#resume .inside {
  padding: 0 96px;
}
.inside {
  width: 100%;
  padding: 0 80px;
  margin: 0 auto;
}
h1#name {
  font-size: 18px;
  font-weight: 600;
}
#resume #main h2 {
  font-size: 16px;
  font-weight: 600;
}
#resume #main .list ul {
  margin-top: -8px;
}
#resume #main .list ul li {
  margin-top: 21px;
}
h2 {
  font-size: 14px;
  font-weight: 400;
}
h2#current-position,
h2#current-location {
  color: rgba(255, 255, 255, 0.88);
  margin-top: 4px;
}
p {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}
#about {
  margin-top: 20px;
  font-size: 14px;
  text-align: left;
  color: rgba(255, 255, 255, 0.72);
}
.subContact {
  margin-top: 28px;
}
.subContact li {
  font-size: 14px;
  color: #fff;
  margin-bottom: 12px;
}
.subContact li:last-of-type {
  margin-bottom: 0;
}
.subContact .more-info {
  opacity: 0.72;
}
.subContact li a {
  color: inherit !important;
  text-decoration: none;
}
.subContact li a:hover {
  color: #fff !important;
}
#main .inside {
  padding-top: 14px;
  padding-bottom: 62px;
}
.list {
  /* max-width: 336px; */
  text-align: justify;
  text-justify: inter-word;
  margin-top: 43px;
}
#bottom {
  margin-top: 30px;
}
.skills-icon {
  width: 16px;
  height: 15px;
  float: left;
  margin-left: -26px;
  margin-top: 1px;
  fill: #3d79f2;
}
.awards-icon {
  width: 16px;
  height: 16px;
  float: left;
  margin-left: -26px;
  margin-top: 1px;
  fill: #3d79f2;
}
.projects-icon {
  width: 16px;
  height: 16px;
  float: left;
  margin-left: -26px;
  margin-top: 1px;
  fill: #3d79f2;
}
.experience-icon {
  width: 16px;
  height: 16px;
  float: left;
  margin-left: -26px;
  margin-top: 0;
  fill: #3d79f2;
}
.education-icon {
  width: 17px;
  height: 17px;
  float: left;
  margin-left: -27px;
  margin-top: 0;
  fill: #3d79f2;
}
.contact-icon {
  width: 16px;
  height: 17px;
  float: left;
  margin-left: -26px;
  margin-top: 1px;
  fill: #3d79f2;
}
.spacing-small #side .inside {
  padding: 0 48px;
}
.spacing-small #top {
  padding: 48px 0;
}
.spacing-small #resume #main .list ul {
  margin-top: -8px;
}
.spacing-small #resume #main .list ul li {
  margin-top: 21px;
}
.spacing-small #resume #main .list ul li:not(:first-child) {
  margin-top: 20px;
}
.spacing-small #main .inside {
  padding-bottom: 54px;
}
.spacing-small .list {
  margin-top: 35px;
}
.spacing-small #resume #main #skills.list ul li:not(:first-child),
.spacing-small #resume #main #contact.list ul li:not(:first-child) {
  margin-top: 4px;
}
.spacing-large #side .inside {
  padding: 0 64px;
}
.spacing-large #top {
  padding: 64px 0;
}
.spacing-large #resume #main .list ul {
  margin-top: 0;
}
.spacing-large #resume #main .list ul li {
  margin-top: 21px;
}
.spacing-large #main .inside {
  padding-bottom: 78px;
}
.spacing-large .list {
  margin-top: 51px;
}
@media print {
  #top {
    padding: 0 !important;
  }
  .color-background {
    background: none !important;
  }
  .bg-photo,
  .overlay {
    display: none;
    background: none !important;
  }
  #top h1#name {
    color: rgba(0, 0, 0, 0.88);
  }
  #top h2#current-position,
  #top h2#current-location {
    color: rgba(0, 0, 0, 0.64);
  }
  #top #about {
    color: rgba(0, 0, 0, 0.4);
  }
  .subContact li {
    color: rgba(0, 0, 0, 0.64);
  }
  #main .inside {
    padding-bottom: 0 !important;
  }
  #side {
    width: 100%;
    height: auto;
    position: relative;
    float: none;
  }
  #top {
    padding-bottom: 56px;
  }
  .subContact li.phone_number {
    margin-bottom: 0;
  }
  #main {
    padding-bottom: 73px;
  }
  /* .list:nth-of-type(odd) {
    padding-right: 48px;
    float: left;
    clear: left;
  }
  .list:nth-of-type(even) {
    padding-left: 48px;
    float: right;
    clear: right;
  } */
  #resume,
  .inside {
    width: 768px !important;
    float: none;
    margin: 0 auto;
    padding: 0 !important;
  }
  #resume .list {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  #side {
    width: 35%;
  }
  #resume {
    width: 65% !important;
  }
}
@media screen and (max-width: 959px) {
  #side {
    width: 100%;
    height: auto;
    position: relative;
    float: none;
  }
  #top {
    padding-bottom: 40px !important;
  }
  #main {
    margin-bottom: 0;
    padding-bottom: 73px;
  }
  #resume {
    width: 100% !important;
    float: none;
  }
  #resume .list {
    width: 100%;
    max-width: 100%;
  }
  #share-controls {
    z-index: 9999 !important;
  }
  #share-controls .edit,
  #share-controls .share_icon {
    fill: #fff !important;
    z-index: 9999 !important;
  }
  #share-controls li:hover .edit,
  #share-controls li:hover .share_icon {
    fill: #fff !important;
  }
  .inside,
  #resume .inside {
    padding: 0 !important;
  }
  #resume,
  #footer,
  .inside {
    width: 512px !important;
  }
  #resume {
    margin: 0 auto;
  }
  .mobile-hide {
    display: none;
  }
  .desktop-hide {
    display: block !important;
  }
  .left,
  .right {
    float: none;
    padding: 0 !important;
    width: 100% !important;
  }
  #resume #main .list ul li .description {
    margin-top: 4px;
  }
}
@media screen and (max-width: 639px) {
  #resume,
  #footer,
  .inside {
    width: 384px !important;
  }
}
@media screen and (max-width: 511px) {
  #resume,
  #footer,
  .inside {
    width: 352px !important;
  }
  #resume #main svg {
    display: none;
  }
}
@media screen and (max-width: 415px) {
  #resume,
  #footer,
  .inside {
    width: 288px !important;
  }
  #main {
    padding-bottom: 57px;
  }
  #top {
    padding: 48px 0;
  }
}
@media screen and (max-width: 351px) {
  #resume,
  #footer,
  .inside {
    width: 256px !important;
  }
}
